/* * {
    border: 1px solid black;
} */

body {
    background-color: #424242;
}

.app {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 240px);
    grid-template-columns: auto;
}

.header,
.footer,
.calculator {
    font-size: 48px;
    margin: auto;
    color: white;
    text-shadow: #FCE600 1px 0 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 60px);
}

.buttons .output {
    background-color: white;
    grid-column: span 4;
}

.buttons .zero {
    grid-column: span 2;
}

.one, .two, .three, .four, .five, .six, 
.seven, .eight, .nine, .enter, .zero, .period,
.off, .clear, .square, .divide, .multiply,
.subtract, .add {
    background-color: black;
    color: white;
}