/* * {
    border: 1px solid black;
} */

body {
    background-color: #424242;
}

.app {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 240px);
    grid-template-columns: auto;
}

.header,
.footer,
.calculator {
    font-size: 48px;
    margin: auto;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 148px);
    grid-template-rows: repeat(4, 60px);
}

.buttons .enter {
    grid-column: span 2;
}

.one, .two, .three, .four, .five, .six, 
.seven, .eight, .nine, .enter, .zero {
    background-color: black;
    color: white;
}