/* * {
    border: 1px solid white;
} */

body {
    background-color: black;
}

.app {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: auto;
}

.header,
.footer {
    font-size: 36px;
    margin: auto;
    color: white;
    text-shadow: #FCE600 1px 0 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
    grid-gap: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons .output {
    display: flex;
    background-color: black;
    color: white;
    grid-column: span 4;
    justify-content: right;
    align-items: end;
    font-size: 48px;
}

.buttons .zero {
    grid-column: span 2;
}

.one, .two, .three, .four, .five, .six, 
.seven, .eight, .nine, .enter, .zero, .period,
.off, .clear, .square, .divide, .multiply,
.subtract, .add {
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 32px;
}

.off, .clear, .square {
    background-color: darkgray;
    color: black;
}

.one, .two, .three, .four, .five, .six, 
.seven, .eight, .nine, .zero, .period {
    background-color: #424242;
}

.divide, .multiply, .subtract, .add, .enter {
    background-color: orange;
}

what does this do 

and maybe this

and this